@import "tailwindcss";

@theme {
  --color-brand: #3470ff;
  --color-brand-hover: #0b44ed;
  --color-bg-light: #f7f7fb;
  --color-text-main: #121417;
  --color-text-gray: #8a8a89;
  --font-sans: "Manrope", sans-serif;
}

@layer base {
  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
  }
}
